/Release/*
/Debug/*
/x64/*
/reaper_csurf.ncb
/reaper_csurf.suo
/reaper_csurf.vcproj.W510.Steffen_2.user
/reaper_csurf.vcproj.Steffen-Samsung.Steffen.user
/reaper_csurf.vcproj.W510.Steffen_2.user
/Release_B/BuildLog.htm
/Release_B/reaper_csurf_mcu_klinke.dll.intermediate.manifest
/Release_B/res.res
/Release_B/mt.dep

